@import 'styles/mediaQuery.scss';

.container {
  margin: 20px;
  // @media #{$mobile} {
  //   margin: 5px;
  // }
}

.title {
  font-size: 18px;
  color: #c0a080;
  letter-spacing: 1.5px;
}

.boardWrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  width: 90%;
}
