.container {
  margin: 20px;
}

.title {
  font-size: 18px;
  color: #c0a080;
  letter-spacing: 1.5px;
}

.boardWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}
