// @import "styles/variables/typography';
@import 'styles/mediaQuery.scss';

body {
  background-color: #f6f1e9;
}

.container {
  display: flex;
  gap: 4vh;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10vw auto;
  padding: 5vw;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  width: 30vw;
  background-color: white;
  border-radius: 20px;

  @media #{$mobile} {
    flex-direction: column;
    margin-top: 30vw;
    width: 80vw;
  }
}

.logoWrapper {
  display: flex;
  gap: 1vw;
  align-items: center;
  cursor: pointer;

  @media #{$mobile} {
    justify-content: center;
  }
}

.title {
  width: 20vw;
  height: 5vw;
  @media #{$mobile} {
    width: 35vw;
    height: 10vw;
  }
}

.logo {
  width: 5vw;
  @media #{$mobile} {
    width: 12vw;
  }
}

.inputLoginBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 22vw;

  @media #{$mobile} {
    justify-content: center;
    width: 100%;
  }
}

.inputWrapper {
  display: flex;
  gap: 2.5vh;
  justify-content: center;
  flex-wrap: wrap;
  width: 22vw;

  @media #{$mobile} {
    width: 80%;
  }
}

.input {
  padding: 15px 25px;
  border: 3px solid #f6f1e9;
  width: 100%;
  border-radius: 20px;

  &:focus {
    border: 3px solid #a9907e;
  }
  &::placeholder {
    color: #b2b2b2;
  }
}

.loginBtn {
  margin-top: 40px;
  padding: 20px 30px;
  border: 3px solid #f6f1e9;
  width: 80%;
  font-size: 13px;
  color: #a9907e;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;

  @media #{$mobile} {
    border: 3px solid #a9907e;
    width: 60%;
    background-color: #a9907e;
    font-weight: bold;

    color: white;
  }
  &:hover {
    border: 3px solid #a9907e;
    background-color: #a9907e;
    font-weight: bold;
    color: white;
  }
}
