@import 'styles/mediaQuery.scss';

.container {
  padding: 20px 5px;
  border-bottom: 1px solid #e1d7c6;

  @media #{$mobile} {
    overflow: hidden;
  }
}

.labelName {
  color: #8d7b68;
}

.infoBox {
  display: flex;
  gap: 10px;

  @media #{$mobile} {
    flex-direction: column;
  }
}
