@import 'styles/mediaQuery.scss';

.container {
  margin: 20px;
  color: #8d7b68;

  @media #{$mobile} {
    margin-top: 10px;
  }
}

.title {
  font-size: 18px;
  color: #c0a080;
  letter-spacing: 1.5px;

  @media #{$mobile} {
    font-size: 13px;
  }
}

.addBox {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 10px auto;
  padding: 15px 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 70%;
  background-color: white;
  border-radius: 10px;

  @media #{$mobile} {
    gap: 20px;
    width: 100%;
    font-size: 10px;
  }
}

.personalInfo {
  display: flex;
  gap: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1d7c6;

  @media #{$mobile} {
    gap: 20px;
  }
}

.inputBox {
  display: flex;
  flex-direction: column;
  width: 50%;

  @media #{$mobile} {
    width: 100%;
  }
}

.defaultImg {
  width: 150px;
  height: 200px;
  cursor: pointer;

  @media #{$mobile} {
    width: 60px;
    height: 60px;
  }
}

.dateInfo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1d7c6;
}

.radioInfo {
  display: flex;
  gap: 12px;
  flex-direction: column;
  width: 30%;
}

.radioBox {
  display: flex;

  label {
    color: black;
    cursor: pointer;
  }

  input {
    accent-color: #665a48;
  }
}

.additionalInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e1d7c6;
}
