$highlight: #5653ff; /* Hover, Active */
$base: #0261f1; /* 버튼 default 색상, link된 텍스트 */
$baseDark: #132a7c; /* hover, active, link 아니지만 시각적 강조 */
$editorBg: #15224f;
$yellow: #ffc806;
$orange: #ff4a11;
$green: #3bc328;
$pointGreen: #1bbd05;
$darkBlue: #4b618d;
$lightBlue: #9eb6e7;
$greyBlue: #ebf3ff;
$black: #000000;
$themeBlack: #1c1c1e;
$grey30: #4d4d4d;
$grey60: #999999;
$grey70: #94a3b8;
$grey80: #cbd5e1;
$grey90: #e2e8f0;
$grey94: #f1f5f9;
$grey98: #f8fafc;
$white: #ffffff;
$codeAxure: #33bcf6;
$codeBG: #303153;

/* 소셜로그인 theme color */
$kakao: #fee500;
