$fontFamilyMain: pretendard, -apple-system, blinkmacsystemfont, system-ui,
  roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
  'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  sans-serif;

/* font constants - description */
$fontSizeDescription: 14px;
$lineHeightDescription: 1.285;

/* font constants - caption */
$fontSizeCaption: 11px;
$lineHeightCaption: 1.27;
$fontSizeCaptionMobile: 12px;
$lineHeightCaptionMobile: 1.16;

/* font constants - footnote */
$fontSizeFootnote: 12px;
$lineHeightFootnote: 1.333;
$fontSizeFootnoteMobile: 14px;
$lineHeightFootnoteMobile: 1.285;

/* font constants - base (p) */
$fontSizeBase: 16px;
$lineHeightBase: 1.5;
$fontSizeBaseMobile: 18px;
$lineHeightBaseMobile: 1.444;

/* font constants - Label_sm */
$fontSizeLabelSm: 12px;
$lineHeightLabelSm: 1;

/* font constants - Label_md */
$fontSizeLabelMd: 16px;
$lineHeightLabelMd: 1.428;
$fontSizeLabelMdMobile: 14px;
$lineHeightLabelMdMobile: 1.25;

/* font constants - h5 */
$fontSizeH5: 16px;
$lineHeightH5: 1.375;
$fontSizeH5Mobile: 16px;
$lineHeightH5Mobile: 1.375;

/* font constants - h4 */
$fontSizeH4: 18px;
$lineHeightH4: 1.333;
$fontSizeH4Mobile: 18px;
$lineHeightH4Mobile: 1.333;

/* font constants - h3 */
$fontSizeH3: 20px;
$lineHeightH3: 1.2;
$fontSizeH3Mobile: 20px;
$lineHeightH3Mobile: 1.2;

/* font constants - h2 */
$fontSizeH2: 24px;
$lineHeightH2: 1.25;
$fontSizeH2Mobile: 24px;
$lineHeightH2Mobile: 1.25;

/* font constants - h1 */
$fontSizeH1: 36px;
$lineHeightH1: 1.222;
$fontSizeH1Mobile: 26px;
$lineHeightH1Mobile: 1.23;

/* font constants - headline */
$fontSizeHeadline: 32px;
$lineHeightHeadline: 1.125;
$fontSizeHeadlineMobile: 26px;
$lineHeightHeadlineMobile: 1.3;

/* font constants - title */
$fontSizeTitle: 45px;
$lineHeightTitle: 1.25;
$fontSizeTitleMobile: 30px;
$lineHeightTitleMobile: 1.2;
