@import 'styles/mediaQuery.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  background-color: white;
}

.logoMenuBox {
  display: flex;
  gap: 15vw;
  align-items: center;

  @media #{$mobile} {
    gap: 10px;
  }
}

.logo {
  margin-left: 1vw;
  width: 4vw;
  cursor: pointer;
  @media #{$mobile} {
    width: 6vw;
  }
}

.menuWrapper {
  display: flex;
  gap: 5vw;
  @media #{$mobile} {
    gap: 10px;
  }
}

.selectedMenu {
  font-size: 1.3vw;
  font-weight: bold;
  color: #8d7b68;
  letter-spacing: 1.2px;

  @media #{$mobile} {
    letter-spacing: 1px;
  }
}

.menu {
  font-size: 1.3vw;
  color: #d0b8a8;
  letter-spacing: 1.2px;

  &:hover {
    font-weight: bold;
  }

  @media #{$mobile} {
    letter-spacing: 1px;
  }
}

.userBox {
  display: flex;
  gap: 1vw;
  align-items: center;
  margin-right: 2vw;
}

.userInfo {
  color: #7f8487;
  @media #{$mobile} {
    font-size: 10px;
    zoom: 0.8;
  }
}

.logoutButton {
  padding: 1vw;
  background-color: #d0b8a8;
  color: #8d7b68;
  cursor: pointer;
  border-radius: 10px;

  @media #{$mobile} {
    padding: 1vw;
    font-size: 10px;
    zoom: 0.8;
  }
}
