@import 'styles/mediaQuery.scss';

.container {
  margin: 20px;

  @media #{$mobile} {
    margin-top: 10px;
  }
}

.title {
  font-size: 18px;
  color: #c0a080;
  letter-spacing: 1.5px;

  @media #{$mobile} {
    font-size: 13px;
  }
}

.detailInfo {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 15px 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  width: 70%;
  background-color: white;
  border-radius: 10px;

  @media #{$mobile} {
    width: 95%;
  }
}

.mainInfo {
  display: flex;
  gap: 50px;
  padding: 20px 0;
  border-bottom: 1px solid #e1d7c6;
}

.defaultImg {
  width: 150px;
  height: 200px;
  cursor: pointer;

  @media #{$mobile} {
    width: 60px;
    height: 60px;
  }
}

.personalInfo {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 70%;

  @media #{$mobile} {
    gap: 10px;
    font-size: 12px;
  }

  .value {
    margin-top: 7px;
    width: 70%;

    @media #{$mobile} {
      width: 100%;
    }
  }
}

.btnWrapper {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 15px;
}

.btn {
  padding: 10px 15px;
  background-color: #f9f5eb;
  color: #665a48;
  cursor: pointer;
  border-radius: 10px;

  @media #{$mobile} {
    padding: 7px 15px;
    font-size: 10px;
  }

  &:hover {
    background-color: #e8d2a6;
  }
}

.dateInfo {
  display: flex;
  gap: 10px;
  padding: 20px 5px;
  border-bottom: 1px solid #e1d7c6;

  @media #{$mobile} {
    display: flex;
    align-items: center;
  }
}

.radioInfo {
  display: flex;
  gap: 12px;
  flex-direction: column;
  width: 30%;
  color: #8d7b68;
}

.radioName {
  @media #{$mobile} {
    font-size: 12px;
  }
}

.radioBox {
  display: flex;
  gap: 30px;

  @media #{$mobile} {
    gap: 1px;
    font-size: 10px;
  }
  label {
    color: #7f8487;
    cursor: pointer;
  }
  input {
    accent-color: #665a48;
  }
}

.additionalInfo {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 5px;
  border-bottom: 1px solid #e1d7c6;
}

.noteBox {
  padding: 20px 5px;
  border-bottom: 1px solid #e1d7c6;
}
